.container{
    width: 100%;
    max-width: 1140px;
    padding: 0px 15px;
    font-family: sans-serif;
}
fieldset{
    margin-top: 40px;
    border: 0;
    padding: 0;
}
ul{
    padding-left: 0;
    max-width: 400px;
}
ul li{
    padding: 10px;
    overflow: hidden;
    list-style: none;
    margin-bottom: 20px;
    border: 1px solid #c5c5c5;
}
.btn{
    padding: 10px;
    background: mediumslateblue;
    text-transform: uppercase;
    border: 0;
    color: white;
    margin-left: 0;
    cursor: pointer;
}
.btn-delete{
    background: #ff3838;
    float: right;
}
input[type="text"]{
    padding: 8px;
    text-transform: uppercase;
    margin-right: 10px;
}
